html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Cinzel-Regular';
}

img
{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

.intro
{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(images/4k%20wallpaper%20hd%20image%20%20HD%20Wallpaper%20Backgrounds%20Tumblr%20Backgrounds%20....jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner
{
    width: 100%;
    max-width: none;
}

.content
{
    max-width: 600px;
    margin: auto;
}

h1
{
    text-align: center;
    font-family: 'Cinzel-Regular';
    font-size: 700%;
    color: white;
    margin-top: 30%;
    text-shadow: 1px 1px black;
}

.content p
{
    color: white;
    font-family: 'Cinzel-Regular';
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px black;
}

nav ul
{
    list-style: none;
    float: left;
}

nav ul li
{
    font-family: 'Cinzel-Regular';
    font-size: 120%;
    color: white;
}

nav ul li a
{
    color: white;
    text-decoration: none;
}

nav ul li a:hover
{
    text-decoration: underline;
}

nav ul, nav:active ul
{
    display: none;
    padding: 8px 0;
    width 20%;
    z-index: 1000;
    left: 45px;
    top: 60px;
}

nav li
{
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
}

nav:hover ul
{
    display: block;
    position: absolute;
}

#menu-icon
{
    width: 25px;
    height: 25px;
    background: url(images/nav-icon.png) center;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
}
/*-----End of Page 1 Nav-----*/

.left-column p
{
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    line-height: 300%;
    text-align: justify;
}

.sideBar
{
    width: 26%;
    margin-left: 37%;
    margin-right: 37%;
    
}
.left-column h2
{
    text-decoration: underline;
    text-align: center;
    font-size: 200%;
}
/*---Photography----*/


.left-col p
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    line-height: 250%;
    text-align: justify;
}

.left-col h2
{
    text-decoration: underline;
    text-align: center;
    font-size: 200%;
}

.dkdPhotoshoot h2
{
    font-size: 150%;
    text-align: center;
    text-decoration: underline;
}

.one-third-port
{
    width: 29%;
    padding: 2%;
    float: left;
}

.one-third-port img:hover
{
    opacity: .6;
}

.contact h2
{
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
}


.photographyTypes p 
{
   
    text-align: center;
    letter-spacing: 7px;
    line-height: 400%
}

.contact a
{
    text-decoration: none;
    color: black;
}

.contact a:hover
{
    text-decoration: underline;
}

.contact p 
{
    text-align: center;
    letter-spacing: 7px;
    line-height: 250%
}

.clearfix
{
    clear: both;
    height: 3%;
}

.break
{
  display: inline;
}

.parallax
{
  background: url(images/awesome-4k-wallpaper_065234330_309.jpg) repeat fixed 100%;
  
}

.parallax-inner
{
    padding: 10%;
    opacity: .5;
}

.social
{
    list-style-type: none;
    text-align: center;
}

.social li
{
    display: inline;
}

.social i
{
    color: black;
    padding: 5%;
    font-size: 170%;
    margin: 1% 1% 1% 1%;
}

.social i:hover
{
    color: lightgray;
}

footer.second
{
    background-color: black;
}

footer.second p
{
    color: white;
    letter-spacing: 5px;
    text-align: center;
    padding: 5%;
}


@media screen and (max-width:768px)
{
    #menu-icon
    {
        margin: 26px 0 0 26px;
    }
    nav ul, nav:active ul
    {
        padding: 8px 0;
        left: 23px;
        top: 34px;
        width: 50%;
    }
    .inner
    {
        font-size: 120%;
    }
    .content h1
    {
        font-size: 180%;
    }
    p
    {
        font-size: 120%
    }
    h2
    {
        font-size: 160%;
    }
    .left-col
    {
        width: 96%;
        margin: 0 0 3% 0;
        padding: 0 2%;
    }
    .sideBar
    {
        width: 96%;
        margin: 0 auto;
    }
    img
    {
        padding: 2%;
    }
    .one-third-port
    {
        width:96%;
        margin: 0 auto;
        padding: 0;
    }
    .break
    {
        display: block;
    }
    .parallax
    {
        display: none;
    }
    .social i 
    {
        font-size: 170%;
    }   
}
